<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a [routerLink]="['/rest']">
        <img src="assets/images/edmond/logo_for_bright.png" />
      </a>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <div class="navbar-nav">
        <div class="d-flex ms-auto">

          <span *ngIf="auth.isLoggedIn" class="nav-item nav-link text-info">{{
            auth.user.person.familyName
          }}</span>
          <a
            *ngIf="auth.isAdmin"
            [routerLink]="['/admin']"
            class="nav-item nav-link text-warning"
            >Admin</a
          >
        </div>
        <r2d2-authentication></r2d2-authentication>
      </div>
    </div>
  </div>
</nav>