<div class="container">
    <div class="row g-2">
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <p>placeholder 4 anything</p>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card" *ngIf="user | async; let u">
                <div class="row">
                    <button class="btn col-1" style="font-size: 2rem;" (click)="back2list()">
                        <i class="bi-list-ol"></i>
                    </button>
                    <button class="btn text-primary col-1" style="font-size: 2rem;" [disabled]="editing"
                        (click)="edit(u)">
                        <i class="bi-pencil"></i>
                    </button>
                    <button class="btn text-warning col-1" style="font-size: 2rem;" [disabled]="editing"
                        (click)="delete(u.id)">
                        <i class="bi-trash"></i>
                    </button>
                </div>
                <div *ngIf="!editing; else editform" class="card-body">
                    <pre [innerHtml]="u | json"></pre>
                </div>
                <ng-template #editform>
                    <div *ngIf="editing" class="card-body">
                        <form [formGroup]="user_form" (ngSubmit)="onFormSubmit(u.id, u.modificationDate)">
                            <div class="row w-100 mb-1">
                                <label for="email" class="col-sm-1 text-end col-form-label-sm">email</label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-sm" type="text" formControlName="email"
                                        id="email" required />
                                    <r2d2-validation-errors [control]="user_form.controls.email"
                                        [messages]="{reqired:'email is required'}">
                                    </r2d2-validation-errors>
                                </div>
                            </div>
                            <div class="row w-100 mb-1">
                                <label for="active" class="col-sm-1 text-end col-form-label-sm">active</label>
                                <div class="col-sm-1">
                                    <input class="form-check-input" type="checkbox" formControlName="active"
                                        id="active" />
                                </div>
                            </div>
                            <div class="row w-100 mb-1">
                                <label for="person" class="col-sm-1 text-end col-form-label-sm">person</label>
                                <div class="col-sm-8">
                                    <!-- this is working 
                                <div formArrayName="person" id="person">
                                    <div *ngFor="let person of user_form.controls['person']['controls']; let i=index">
                                        <div [formGroupName]="i">
                                            <r2d2-author [authorsForm]="user_form.controls['person']['controls'][i]"
                                                (notice)="handle($event, i)">
                                            </r2d2-author>
                                        </div>
                                    </div>
                                </div>
                                -->
                                    <div formGroupName="person" id="person">
                                        <r2d2-author [authorsForm]="person" (notice)="handlePerson($event)">
                                        </r2d2-author>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100 mb-1">
                                <label for="grants" class="col-sm-1 text-end col-form-label-sm">grants</label>
                                <div class="col-sm-8">
                                    <!--<r2d2-chips [parent_form]="user_form" control_name="roles"></r2d2-chips>-->
                                    <div formArrayName="grants" id="grants">
                                        <div
                                            *ngFor="let grant of user_form.controls['grants']['controls']; let i=index">
                                            <div [formGroupName]="i">
                                                <r2d2-grant [grantForm]="user_form.controls['grants']['controls'][i]"
                                                    (notice)="handleGrants($event, i)">
                                                </r2d2-grant>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-sm-3 offset-sm-1">
                                    <input type="button" class="btn btn-outline-secondary btn-sm me-2" name="cancel"
                                        value="cancel" (click)="back2list()" />
                                    <input type="submit" class="btn btn-outline-secondary btn-sm" name="save"
                                        value="save" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <pre>{{user_form.value | json}}</pre>
                </ng-template>
            </div>
        </div>
    </div>
</div>