<nav class="navbar navbar-expand-md py-0 justify-content-between">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarNav">
      <div class="navbar-nav align-self-center col-2 ms-auto">
        <a routerLink="./" class="nav-item nav-link text-warning" [routerLinkActive]="['active']">admin</a>
        <a routerLink="./sets" class="nav-item nav-link text-secondary" [routerLinkActive]="['active']">sets</a>
        <a routerLink="./store" class="nav-item nav-link text-secondary" [routerLinkActive]="['active']">store</a>
        <a routerLink="./users" class="nav-item nav-link text-secondary" [routerLinkActive]="['active']">users</a>
        <a routerLink="./ous" class="nav-item nav-link text-secondary" [routerLinkActive]="['active']">ous</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>