/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.r2d2-mat-dialog .mat-dialog-container {
    // padding: 0 !important;
    transition: none !important;
    box-shadow: none !important;
    background: none;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .highlight {
    color: $info;
  }

  .btn:focus{
    box-shadow:none !important;
}
pre {
  white-space: pre-wrap;
}

