/* You can add global styles to this file, and also import other style files */
// @import "variables";
@import "~bootstrap/scss/bootstrap";
@import "./assets/r2d2-styles.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.r2d2-mat-dialog .mat-dialog-container {
  // padding: 0 !important;
  transition: none !important;
  box-shadow: none !important;
  background: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.highlight {
  color: #f2b200; // $info; // $mpdl-yellow;
}

.btn:focus {
  box-shadow: none !important;
}
pre {
  white-space: pre-wrap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
}

header {
  background-color: #8fbec4;
}

footer {
  background-color: #f5f7f9;
}

a {
  outline: none;
}

.container {
  margin: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.bg-primary {
  background-color: #8fbec4;
}