/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.r2d2-mat-dialog .mat-dialog-container {
  // padding: 0 !important;
  transition: none !important;
  box-shadow: none !important;
  background: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.highlight {
  color: $info; // $mpdl-yellow;
}

.btn:focus {
  box-shadow: none !important;
}
pre {
  white-space: pre-wrap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
}

a {
  outline: none;
}

form {
  background-color: $gray-1;  
}

.container {
  margin-left: 10%;
  background-color: transparent;
}

.spacer {
  flex: 1 1 auto;
}

.modal-content {
  background-color: $gray-1;
}

.card {
  background-color: transparent;  
}

.card-header {
  background-color: $mpdl-yellow;
}

.card-body {
  background-color: $mpdl-yellow; 
}

